@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;       
    }

    .botao{
        margin-top: 1px;
        width: 10px;
        padding: 5px 10px;
        margin-right: 12px;
        font-size: 9px;
        
    }
    
    .botoes{
        height: 150px;
        align-content: center;
    }

    .titulo-principal{
        margin-top: 60px;
        font-size: 30px;
    }


}

@media screen and (min-width: 1000px){
    .descricao{
       width: 75%;
    }
   
}